<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Criminal Information Black Door" connectionString="Data Source=DESKTOP-Q1VOS80\SQLEXPRESS01; Initial Catalog=user;Persist Security Info=True" providerName="System.Data.SQLClient"/>
	</connectionStrings>
</configuration>